.date {
    background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 1.2rem;
    width: 11.4rem;
    height: 11.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.month, .year{
    font-size: 1.4rem;
    line-height: 1.641rem;
}

.year, .day {
    font-weight: bold;
}

.day {
    font-size: 2.4rem;
    line-height: 2.813rem;
}